<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Version" value="2.0.0"/>
		<add key="NugetUrl" value="https://dist.nuget.org/win-x86-commandline/latest/nuget.exe"/>
		<add key="BuildCsharpOptions" value="/p:LangVersion=latest /p:Platform=&quot;Any CPU&quot; /p:Configuration=Release /p:AllowUnsafeBlocks=true"/>
		<add key="BuildCSharpTools" value="C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\Common7\Tools\VsDevCmd.bat"/>
		<add key="ConfuserExUrl" value="https://github.com/mkaring/ConfuserEx/releases/download/v1.6.0/ConfuserEx-CLI.zip"/>	
	</appSettings>
</configuration>